.mimic {
    border: 1px solid #000;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

.navigation {
    border: 1px solid #000;
    display: block;
    margin-top: auto;
    background-position: 10px 10px;
    margin-top: 30px;
    background-color: #eee;
  }

/*ajout EP pour responsive */
@font-face {
    font-family: 'banksia';
    src: url('../fonts/banksia-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/banksia-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/banksia-webfont.woff') format('woff'), /* Modern Browsers */
         url('../fonts/banksia-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/banksia-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    }

  body{  background-image: url('../img/testfinish.jpg');
         background-attachment: fixed;   
             }
html, body {

            font-family: banksia,Arial,Comic;
            color: white;
            
            height: 100%;
            width: 100%;
        } 

        #nav {
            color:#fff;
            background: black;
            height: 100%;
            padding: 20px;
            position: fixed;
            width: 220px;
        }
        #main {
            margin-left: 220px;
            width: auto;
        }

        #nav button.btn {
            width: 100%;
            position: relative;
        }
        .strip-img {
            padding: 10px;
        }
        .strip-img img {
            width: 100%;
        }


  textarea {
    resize:none;
  }



.absoluteIcon {
    position: absolute;
    left: 10px;
    top:8px;
}





#mainBoxFaire { 
margin-top:4%; 
}



#titleMain {
    text-align: center;
    margin-bottom: 50px;
}

.largeurBtn {
    width: 180px;

}
#exampleInputFile {
    font-family: banksia;
}


.btn {
    font-family: banksia,Arial;
}

#btnEnvoyer {
    float: right;    
    margin-top: 3%;
    margin-left:2%;
}